body {
  margin: 0;
  font-family: Arial, sans-serif;

  background-image: url("./assets/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.app {
  text-align: center;
  padding: 20px;
}

nav a {
  margin: 10px;
  text-decoration: none;
  color: #273c75;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

input {
  padding: 10px;
}

button {
  padding: 10px;
  cursor: pointer;
}

.item {
  margin: 10px 0;
  padding: 10px;
  background: #eee;
}

.card {
  background: rgba(255, 255, 255, 0.95);
  padding: 20px;
  border-radius: 10px;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

/* fundo geral do app */
.app-bg {
  background: url("https://images.unsplash.com/photo-1586528116311-ad8dd3c8310d") no-repeat center center;
  background-size: cover;
  min-height: 100vh;
}

/* camada escura por cima */
.overlay {
  min-height: 100vh;
  width: 100%;
  background: rgba(0,0,0,0.5);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* 👈 isso evita bug */
  padding: 20px;
}

/* deixa texto visível */
h1, nav {
  color: white;
}

.search {
  width: 300px;
  max-width: 90%;
  margin: 20px auto;
  display: block;
  padding: 10px;
  border-radius: 5px;
  border: none;
}